In [1]:
import pandas

In [2]:
data = pandas.read_csv("housingPrices.csv")

In [3]:
data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,2000-01-31,2000-02-29,...,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31
0,6181,0,New York,city,NY,NY,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,184529.317771,185524.945871,...,714328.253775,712194.321945,709967.722109,708690.663065,706591.236699,705963.695954,710037.507198,719762.838116,733201.900295,743506.186945
1,12447,1,Los Angeles,city,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",Los Angeles County,223663.797270,223983.664917,...,993707.951323,991506.814387,988144.225665,977240.954420,962297.199823,949885.864617,945755.275588,948664.720069,956949.341881,971266.017899
2,39051,2,Houston,city,TX,TX,"Houston-The Woodlands-Sugar Land, TX",Harris County,100633.849158,100603.123481,...,270420.983373,270309.669191,269474.601238,267922.356396,266362.850490,265710.901157,265657.623296,266014.042590,266695.331604,267558.315977
3,17426,3,Chicago,city,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",Cook County,113818.556377,113818.476165,...,286332.893693,284765.899434,283694.548082,284318.409045,285477.499016,287235.800647,288434.110156,289677.814489,291674.955625,293587.843231
4,6915,4,San Antonio,city,TX,TX,"San Antonio-New Braunfels, TX",Bexar County,97963.402799,98056.890139,...,268235.814765,267688.001975,266541.488148,265358.262544,264374.265641,264539.550740,264569.757861,264732.823986,264945.355395,265289.082684

In [4]:
len(data["RegionName"])

22211

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22211 entries, 0 to 22210
Columns: 291 entries, RegionID to 2023-07-31
dtypes: float64(283), int64(2), object(6)
memory usage: 49.3+ MB

In [ ]:
dataSet = pd.DataFrame()

In [ ]:
for i in range(data):
    if data["RegionName"] == Colorado